{% extends "./layout/layout.html.twig" %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block bigTitle %}Bienvenue !{% endblock %}
{% block subTitle %}Marc Léaument - Analyste & développeur / Maintenance & dépannage informatique{% endblock %}

{% block container %}

    <div class="titreTest">
        <h1>Bienvenue !
        <span></span>
        </h1>
        <h2>blabal</h2>
    </div>

    <h1></h1>
    <h2>Exemple de h2</h2>
    <h3>Exemple de h3</h3>
    <h4>Exemple de h4</h4>
    <h5>Exemple de h5</h5>
    <h6>Exemple de h6</h6>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>
    <p>OK, même s'il est pour l'instant un peu vide, mon blog sera trop bien !</p>





{% endblock %}