{% extends "./layout/layout.html.twig" %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block bigTitle %}Bienvenue !{% endblock %}
{% block subTitle %}Marc Léaument - Analyste & développeur / Maintenance & dépannage informatique{% endblock %}

{% block container %}

    <div class="row">
        <div class="col-sm-12">
            <div class="blueContainer">
                <h2>Présentation</h2>
            </div>
            <div class="contentContainer">
                <span>Bonjour à tous ! Je me présente Marc Léaument, j'ai 25 ans et je réside à Eysines près de Bordeaux. <br />
                Depuis de nombreuses années, je consacre la plupart de mon temps à l'informatique. J'ai donc tout naturellement choisi d'orienter mes études dans ce domaine
                mais plus précisément dans le développement d'applications. En effet, je suis attiré par l'apprentissage de nouveaux langages.</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="blueContainer">
                <h2>Compétences</h2>
            </div>
            <div class="contentContainer">
                <span>Etant développeur, </span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="blueContainer">
                <h2>Quelques réalisations</h2>
            </div>
            <div class="contentContainer">
                <span></span>
            </div>
        </div>
    </div>





{% endblock %}