<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="keywords" content=""/>
        <meta name="author" lang="fr" content="Marc" />
    </head>
    <body>
        <h1>Une personne a laissé un message sur la page de contact</h1>
        <p>
            <strong>Nom - Prénom : </strong> {{ data['user'] }} <br />
            <strong>E-mail : </strong> {{ data['mail'] }} <br />
            <strong>Objet : </strong> {{ data['object'] }} <br />
            <strong>Message : </strong> {{ data['message'] }}
        </p>
    </body>
</html>