{% extends "./layout/layout.html.twig" %}

{% block title %}{{ parent() }}Curriculum Vitae{% endblock %}

{% block bigTitle %}Curriculum Vitae{% endblock %}
{% block subTitle %}Expériences, formation, compétences informatiques, ...{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="blackContainer">
                <h1>Analyste - Développeur Web</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="blueContainer">
                <h2>Expériences professionnelles</h2>
            </div>
            <div class="contentContainer">
                <span><span class="date">Sept. 2013 – Sept. 2014</span> <strong>Grafia / Loisirs Enchères</strong></span>
                <p>
                    - Poursuite du développement de Loisirs Enchères, ventes de lots à l’enchère. <br />
                    <span class="languages"> > Symfony/Silex, MySQL, jQuery, PDF, Bootstrap </span> <br />
                    - Développement de Sika Rembourse, jeu de tirage au sort <br />
                    <span class="languages"> > PHP/Smarty, MySQL, jQuery, Bootstrap</span><br />
                    - Développement de certaines parties d’une version de Candy Crush multijoueur et création de la base de données <br />
                    <span class="languages"> > PHP/Smarty, MySQL, jQuery, NodeJS</span>
                </p>

                <span><span class="date">Juil. 2013 - Sept. 2013 </span> <strong>Grafia </strong></span>
                <p>
                    - Développement d’une version de Tetris<br />
                    <span class="languages"> > Action Script 3</span><br />
                    - Développement d’un jeu de Belote<br />
                    <span class="languages"> > PHP/Smarty, MySQL, jQuery, NodeJS</span>
                </p>

                <span><span class="date">Été 2012</span> <strong>DC Systems </strong></span>
                <p>
                    - Poursuite du développement du logiciel et du site Web de la solution MOKA, logiciel de gestion pour les Vendeurs à Domicile Indépendants (VDI)<br />
                    <span class="languages"> > PHP, MySQL, JavaScript, C#/.NET, SQLServer</span>
                </p>

                <span><span class="date">Mars 2011 - Avril 2011</span> <strong>Mairie de Saint-Jean de Braye </strong></span>
                <p>
                    - Réalisation d’une application Web permettant d’effectuer des statistiques sur les entrées de la piscine de Saint-Jean de Braye<br />
                    <span class="languages"> >  PHP, MySQL, JavaScript, FPDF</span>
                </p>

                <span><span class="date">Mai 2010 - Juin 2010</span> <strong>Estampille E.I </strong></span>
                <span>
                    <br />
                    - Entreprise de réinsertion spécialisée dans le bois. Création logiciel de gestion de stocks et d’édition de factures<br />
                    <span class="languages"> > VBA, Excel</span>
                </span>
            </div>

            <div class="blueContainer">
                <h2>Projets personnels</h2>
            </div>
            <div class="contentContainer">
                <span><span class="date">En cours</span> <strong>Garage de la Tour</strong></span>
                <p>
                    - Reprise d’une application Web et de la base de données <br />
                    <span class="languages"> > Symfony/Silex, MySQL, jQuery, PDF, Bootstrap</span>
                </p>

                <span><span class="date">Nov. 2014 - Déc. 2014</span> <strong>Site personnel</strong></span>
                <p>
                    - Reprise d’une application Web et de la base de données <br />
                    <span class="languages">  > Silex, jQuery, PDF, Bootstrap </span>
                </p>

                <span><span class="date">Mai 2013</span> <strong>"ListeTitres"</strong></span>
                <p>
                    - Développement d’une application permettant de récupérer des titres musicaux diffusés sur certaines radios <br />
                    <span class="languages">> C#/.NET, MySQL</span>
                </p>

                <span><span class="date">Été 2011</span> <strong>Garage de la Tour</strong></span>
                <span>
                    <br />
                    - Développement d’une application Web et création de la base de données <br />
                    <span class="languages"> > PHP, MySQL, JavaScript, FPDF</span>
                </span>

            </div>
        </div>


        <div class="col-sm-6">
            <div class="blueContainer">
                <h2>Formation</h2>
            </div>
            <div class="contentContainer">
                <span><span class="date">2015</span> <strong>École d'ingénierie informatique</strong></span>
                <p>EPSI - Bordeaux</p>

                <span><span class="date">2011</span> <strong>BTS Informatique de Gestion</strong></span>
                <p>Lycée Saint Paul - Bourdon Blanc - Orléans</p>

                <span><span class="date">2008</span> <strong>Baccalauréat Scientifique</strong></span>
                <span><br />Lycée Honoré de Balzac - Issoudun</span>
            </div>

            <div class="blueContainer">
                <h2>Compétences informatiques</h2>
            </div>
            <div class="contentContainer">

                <span><strong>Programmation</strong></span>
                <p>HTML/CSS – PHP – JavaScript/jQuery – C#/.NET - ActionScript – C/C++ – Visual Basic – Java</p>

                <span><strong>Framework PHP</strong></span>
                <p>Symfony – Silex</p>

                <span><strong>Outils</strong></span>
                <p>NodeJs – Smarty – Twig – Bootstrap – Git/Github – PHPStorm – WebStorm – Notepad++ – WorkBench – Vim</p>

                <span><strong>Analyse</strong></span>
                <p>Merise – UML</p>

                <span><strong>Base de données</strong></span>
                <p>MySQL – SQL Server – MongoDB - Oracle</p>

                <span><strong>Systèmes et réseaux</strong></span>
                <p>Administration réseau -  Mise en place d’une infrastructure - Virtualisation - Messagerie</p>

                <span><strong>Systèmes d’exploitation</strong></span>
                <span><br />Windows – Linux</span>
            </div>

            <div class="blueContainer">
                <h2>Langues</h2>
            </div>
            <div class="contentContainer">
                <span><strong>Anglais</strong></span>
                <p>TOEIC : 700</p>

                <span><strong>Espagnol</strong></span>
                <span><br />Niveau Bac</span>
            </div>

            <div class="blueContainer">
                <h2>Centres d'intérêt</h2>
            </div>
            <div class="contentContainer">
                <p><strong>Course autombobile</strong></p>
                <p><strong>Cuisine</strong></p>
                <span><strong>Jeux vidéo</strong></span>
            </div>

        </div>
    </div>

    <div class="row button centered">
        <div class="col-sm-12">
            <a class="btn btn-md btn-primary" role="button" href="/docs/cv-marc-leaument.pdf" target="_blank">
                <i class="glyphicon glyphicon-file"></i> Télécharger mon CV
            </a>
        </div>
    </div>

{% endblock %}